body {
    background-color: rgb(72, 72, 72);
    text-align: center;

}
h1,h2,h3,h4,h5,h6,p {
    font-size: 180%;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blanchedalmond;
    -webkit-text-stroke: 1px black;
}
code {
    color: blanchedalmond;

}